.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(21, 32, 43);
}


.container section.left {
    width: 25%;
    height: 100vh;
    margin-left: 10;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.container section.left .content {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.container section.left button.home {
    border: none;
    padding: 10px;
    border-radius: 100%;
    width: min-content;
    border: none;
    background-color: transparent;
    transition: 0.2s;
    display: grid;
    align-items: flex-start;
    margin-left: 10px;
    margin-bottom: 25px;
}

.container section.left button.home:hover{
    background-color:  rgba(29, 161, 242, 0.2);
}

.container section.left button.home img {
    height: 25px;
}

.container section.left .action-buttons{
    display: flex;
    width: 250px;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.container section.left .action-buttons button{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    transition: 0.2s;
    
    font-weight: bold;
    border: none;
    border-radius: 25px;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: fit-content;
    padding: 20px;
}

.container section.left .action-buttons button:hover{
    background-color:  rgba(29, 161, 242, 0.2);
}

.container section.left .tweet-button button {
    width: 250px;
    height: 30px;

    background-color: rgba(29,161,242,1.00);
    color: #fff;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    
    border: none;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
}

.container section.left .profile {
    margin-top: 30px;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.container section.left .profile:hover{
    background-color:  rgba(29, 161, 242, 0.2);
}

.container section.left .profile .profile-information{
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.container section.left .profile .profile-information strong{
    color: gray;
    font-weight: lighter;
}

.container section.left .profile img {
    border-radius: 100%;
    width: 50px;
}



/* Mid Side */

.container section.mid {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    width: 50%;
}

.container section.mid button.inicial-page{
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    color: #fff;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.container section.mid .new-tweet img {
    width: 50px;
    margin-left: 15px;
    border-radius: 100%;
}

.container section.mid .new-tweet{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

.container section.mid .new-tweet .input-section{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container section.mid .new-tweet .input-section input{
    border: none;
    width: 100%;
    margin-right: 20px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

.container section.mid .new-tweet .new-tweet-buttons{
    display: flex;
    flex-direction: row;
    border-top: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
}
.container section.mid .new-tweet .new-tweet-buttons button{
    margin-top: 10px;
    padding: 7px;
    border: 0;
    background-color: transparent;
    border-radius: 100%;
    transition: 0.2s;
}

.container section.mid .new-tweet .new-tweet-buttons button:hover{
    background-color: rgba(29, 161, 242, 0.2);
}

.container section.mid .new-tweet .new-tweet-buttons svg{
    height: 25px;
    width: 25px;
    color:   rgba(29,161,242,1.00);
}

.container section.mid .new-tweet .new-tweet-buttons .tweet-button button {
    border-radius: 20px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: rgba(29, 161, 242, 1);
}