* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

a{
    text-decoration: none;
}

img.profile{
    border-radius: 100%;
    width: 50px;
}